<!--Basic Scripts-->
<script src="__ADMIN__/style/jquery_002.js"></script>
<script src="__ADMIN__/style/bootstrap.js"></script>
<script src="__ADMIN__/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__ADMIN__/style/beyond.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<script src="__ADMIN__/style/layer.js"></script>


<script>
    function warning(str, url) {
        var n = confirm(str);
        if (n) {
            window.location.href = url;
        }
    }

</script>
